@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

body {
    background: url(https://i.imgur.com/MJAkxbh.png);
    font-family: Merriweather;
    max-width: 1200px;
    margin: auto;
}
h1 {
    margin: 50px;
    font-family: "Libre Baskerville";
    font-size: 45px;
}
.center_text {
    text-align: center;
}
#image {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: block;
}
#img-caption {
    color: #505050;
}